<div class="container blog">
  <div class="wrapper">

    <div class="title-container">
      <p class="header"><span class="img-backend"><img class="img-scale" src="/img/mi-logo-800.png"></span> Blog</p>
    </div>



    <div class="group-desktop">

      <div class="stats-container">
        <p class="meta">Showing {{ data.posts.results.length}} posts.</p>
      </div>

      <div class="blog-items">
        <div class="blog-container">
          {{# each data.posts.results}}

          <div class="blog-item" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
            <p class="subhead"><a href="{{postUrl slug}}">{{{title}}}</a></p>
            <p class="caption">{{{categoryList categories prefix="Posted in "}}}
                {{#if author.name.first}}by {{author.name.first}}{{/if}}
            </p>

            {{{content.brief}}}

            {{#if content.extended }}
            <p class="meta">{{{content.extended}}}</p>
            {{/if}}
            <p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
          </div>

          {{/each}}
        </div>
      </div>

      <div class="categories">
        <div class="inner">

          <div class="categories-container">
            <div class="title-container">
              <p class="subhead">Categories</p>
            </div>
            <div class="category-item">
              <p class="meta"><a href="/blog">All Categories</a></p>
            </div>
            {{# each data.categories }}

            <div class="category-item">
              <p class="meta{{#ifeq ../filters.category key}} active{{else}}{{/ifeq}}"><a href="{{categoryUrl key}}">{{name}}</a></p>
            </div>


            {{/each}}
          </div>
        </div>
      </div>

    </div>

  {{>pagination}}
  </div>
</div>

