<div class="container contact">
  <div class="wrapper">

    <div class="title-container">
      <p class="header"><span class="img-backend"><img class="img-scale" src="/img/mi-logo-800.png"></span> Contact us</p>
    </div>

    {{#if enquirySubmitted}}
    <h3>Thanks for getting in touch.</h3>
    {{else}}

    <div class="form-container">
      <form method="post">
        <input type="hidden" name="action" value="contact">

          <div class="input-container {{#if validationErrors.name}}has-error{{/if}}">
            <label>Name</label>
            <input type="text" name="name.full"  class="contact-input" value="{{formData.[name.full]}}">
          </div>

          <div class="input-container {{#if validationErrors.email}}has-error{{/if}}">
            <label>Email</label>
            <input type="email" name="email" class="contact-input" value="{{formData.email}}">
          </div>

          <div class="input-container">
            <label>Phone <span>(Optional)</span></label>
            <input type="text" name="phone" class="contact-input" value="{{formData.phone}}">
          </div>

          <div class="input-container {{#if validationErrors.enquiryType}}has-error{{/if}}">
            <label>What are you contacting us about?</label>
            <select name="enquiryType" class="contact-select">
              <option value="">(Select one)</option>
              {{#each enquiryTypes}}
              <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-container {{#if validationErrors.message}}has-error{{/if}} ">
            <label>Message</label>
            <textarea name="message" rows="4" class="contact-textarea">{{formData.message}}</textarea>
          </div>

          <div class="btn-container">
            <button type="submit" class="btn btn-red">Send</button>
          </div>
        </form>
      </div>
      {{/if}}

</div>
</div>
