<nav class="container navbar">
  <div class="wrapper">
    <ul class="navbar-links">
      {{# each navLinks}}

        {{#ifeq ../section 'home'}}
          {{! If URL is matches 'home'}}
          {{#ifeq key 'home'}}
            {{! Do not render home in navbar}}
          {{else}}
            <li><a href="{{ href }}">{{ label }}</a></li>
          {{/ifeq}}

        {{else}}

          {{! Any URL other than 'home' then render all navLinks}}
          <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
            <a class="all" href="{{ href }}">{{ label }}</a>
          </li>
        {{/ifeq}}

      {{/each}}
    </ul>
  </div>
</nav>